.header {
    padding: 0;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navbar-item {
    font-size: 2rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #999999;
}

.navbar-item-active {
    color: #333333;
}